*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background-color: black;
    font-size: 2rem; color: white;
}

.headergit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: white;
    border: black solid 5px;
    color: black;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: white solid 2px;
}

.navigation a{
    color: white;
}

.content{
    display: flex;
    width: 100vw;
    height: 25vh;
}