*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background-color: black;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: white solid 2px;
}

.navigation a{
    color: white
}